{% extends "layout.html" %}
{% block body %}
<h3>Hakkımda</h3>
<hr>
Merhaba ben Adem Özalp Kırşehir Ahi Evran Üniversitesi 3. sınıf öğrencisiyim. C programlama dili ile  
yazılılıma başladım, algoritma yeteneğimi geliştirdikten sonra C# ile masaüstü uygulamalar yaparak devam ettim. 
2.sınıfın başlarından itibaren web geliştirmeye yöneldim. şu an python un Flask ve Django frameworklerini öğrenmekteyim
aynı zamanda wordpress altyapısı ile müşterilerime siteler hazırlıyorum. Aynı zamanda inigilizce kursuna devam etmekteyim.
mezun olduktan sonra bir kaç yıl freelance olarak çalışmak istioyrum.
<hr>
{% endblock %}