{% extends "layout.html" %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="row" >
    <div class="col-md-9 offset-md-2">
        <div class="col-lg-10">
            {% if article %}
                <h4>{{article.title}}</h4>
                <small>Yazar : <b>{{article.author}}</b> <small style="float: right;">Oluşturulma Tarihi : {{article.created_date}}</small></small>
                <hr>         
                <p>{{article.content | safe}}</p>
                <hr>
            {% else %}
                <div class="alert alert-danger">Böyle Bir Makale Bulunmuyor</div>
            {% endif %}
        </div>
    </div>
</div>    
{% endblock %}